/*******************************************************/
/*     stylesheet for Pescaderia María Jesus Proyecto */
/*      author: Antonio Lorenzo                      */
/*       version 1.0                                */
/*comment: project for lenguajes de Marcas - 1ª DAM*/
/**************************************************/

@font-face {
  font-family: texto2;
  src: url(../fonts/Agina.otf);
}

body {
  background-color: #f1fbff;
  font-family: texto2;
}
.section-padding {
  padding: 100px 0;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-ligth .navbar-brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.navbar-ligth .navbar-brand:focus,
.navbar-ligth .navbar-brand:hover {
  color: #000;
}
.navbar-ligth .navbar-nav .navbar-link {
  color: #000;
}
.w-100 {
  height: 100vh;
}

.services .card-body i {
  font-size: 50px;
}

.sellers .card-body i {
  font-size: 20px;
}

.portfolio .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.sellers .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.btn-logo {
  place-items: center;
  background: #e3edf7;
  padding: 0.4em;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn-logo:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.btn-logo svg {
  transition: transform 0.5s;
}

.btn-logo:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

.footer {
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: white;
}

.mapcontainer {
  width: auto;
  height: auto;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /*areglar */
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ffffff;
  width: 80%;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ----- responsive ----- */
@media only screen and(min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 370px;
  }
  .carousel-caption p {
    width: 100%;
  }
  .card {
    margin-bottom: 30px;
  }
  .img-area img {
    width: 100%;
  }
}

@media only screen and (max-widht: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption h5 {
    font-size: 17px;
  }
  .carousel-caption a {
    padding: 10px 15px;
  }
  .carousel-caption {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
}
